@charset "utf-8";
/* z-index정의 로딩창100, 팝업50, 레이아웃20, 컨텐츠10이하*/

/* common import */
@import url('./lib.css');
@import url('./webfont.css');
@import url('./operation.css');

/*https: //marshallku.com/dev/focus-visible%EB%A1%9C-%EC%A0%91%EA%B7%BC%EC%84%B1-%EB%86%92%EC%9D%B4%EA%B8%B0*/
:root {
    --focus-gold: #ffbf47;
}

:focus-visible {
    outline: 3px solid var(--focus-gold);
}

a:focus-visible {
    background-color: var(--focus-gold);
}

/* :focus:not(:focus-visible) {
    outline: 0;
} */

.dropdown:focus,
.dropdown:focus-within {
    display: block;
}

/* common basic(reset) */
html,
body {
    margin: 0;
    padding: 0;
}

button {
    all: unset;
}

div,
h1,
h2,
h3,
h4,
h5,
h6,
p,
header,
nav,
footer,
section,
aside,
ul,
ol,
li,
button,
a {
    box-sizing: border-box;
}

/* accessbility */
/* [aria-hidden=true] {
    display: none
} */

[role="alert"] {
    padding: 10px;
    border: 2px solid hsl(206deg 74% 54%);
    border-radius: 4px;
    background: hsl(206deg 74% 90%);
}

[role="alert"]:empty {
    display: none;
}

/* component BTN */
button {
    border: 1px dotted chartreuse
}

.btn:active,
.btn:focus,
.btn:focus-within {
    border-color: var(--point-color);
}

.btn {
    background: var(--main-color);
}

/* common color*/
:root {
    --main-color: cornflowerblue;
    --sub-color: blueviolet;
    --point-color: blue;
    --hover-color: gray;
}

hr {
    border-color: var(--sub-color)
}

/* common font */
html {
    font-size: 62.5%;
}

body {
    width: 100vw;
    margin: 0;
    padding: 0;
    font-size: 16px;
}

main {
    font-size: 1.6rem;
}

.ir-txt {
    overflow: hidden;
    position: absolute;
    width: 1px;
    height: 1px;
    clip: rect(0 0 0 0);
}

/* Element */
#printCont,
#skipNav {
    position: relative;
}

#skipNav a {
    position: absolute;
    top: -300px;
    left: 0;
}

#skipNav a:focus {
    top: 0;
}


.nav_list {
    display: flex;
    width: 100vw;
    margin: 0;
    padding: 0
}

.nav_list .list {
    list-style: none;
    flex: 1 1 auto
}

.nav_list .list::before {
    content: '·';
    display: inline-block;
    position: relative;
    top: 50%;
}

.nav_list .list_link {
    display: block;
    text-align: center;
    text-decoration: none;
    color: #333
}

.nav_list .list_link:active,
.nav_list .list_link:focus,
.nav_list .list_link:hover {
    font-weight: 700
}

.select_month_wrap {
    /* display: none; */
    position: absolute;
    left: calc(50% - 210px);
    top: 95px;
    width: 330px;
    padding: 20px;
    background-color: #FFF;
    box-shadow: 2px -2px 40px rgba(0, 0, 0, 0.2);
    border-radius: 6px;
    z-index: 10;
}

.select_month_wrap .year {
    display: block;
    position: relative;
    margin: 0 0 2px 0;
    padding: 0;
    font-size: 16px;
    color: #333;
    font-weight: 700;
    text-align: left;
}

.select_month_wrap .month_wrap {
    display: table;
    position: relative;
    margin: 0;
    padding: 0;
    width: 100%;
}

.select_month_wrap .radio_wrap .radio_btn {
    float: left;
    width: 31.7%;
    margin-left: 0;
    margin-bottom: 7px;
}

.radio_wrap input[type="radio"],
.check_wrap input[type="checkbox"] {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1;
    opacity: 0.05;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    cursor: pointer;
}

.bn_img {
    width: 830px;
    height: 130px;
}

.accordion {
    margin: 0;
    padding: 0;
    border: 2px solid hsl(0deg 0% 52%);
    border-radius: 7px;
    width: 20em;
}

.accordion h3 {
    margin: 0;
    padding: 0;
}

.accordion:focus-within {
    border-color: hsl(216deg 94% 43%);
}

.accordion:focus-within h3 {
    background-color: hsl(0deg 0% 97%);
}

.accordion>*+* {
    border-top: 1px solid hsl(0deg 0% 52%);
}

.accordion-trigger {
    background: none;
    color: hsl(0deg 0% 13%);
    display: block;
    font-size: 1rem;
    font-weight: normal;
    margin: 0;
    padding: 1em 1.5em;
    position: relative;
    text-align: left;
    width: 100%;
    outline: none;
}

.accordion-trigger:focus,
.accordion-trigger:hover {
    background: hsl(216deg 94% 94%);
}

.accordion-trigger:focus {
    outline: 4px solid transparent;
}

.accordion>*:first-child .accordion-trigger,
.accordion>*:first-child {
    border-radius: 5px 5px 0 0;
}

.accordion>*:last-child .accordion-trigger,
.accordion>*:last-child {
    border-radius: 0 0 5px 5px;
}

.accordion button::-moz-focus-inner {
    border: 0;
}

.accordion-title {
    display: block;
    pointer-events: none;
    border: transparent 2px solid;
    border-radius: 5px;
    padding: 0.25em;
    outline: none;
}

.accordion-trigger:focus .accordion-title {
    border-color: hsl(216deg 94% 43%);
}

.accordion-icon {
    border: solid currentcolor;
    border-width: 0 2px 2px 0;
    height: 0.5rem;
    pointer-events: none;
    position: absolute;
    right: 2em;
    top: 50%;
    transform: translateY(-60%) rotate(45deg);
    width: 0.5rem;
}

.accordion-trigger:focus .accordion-icon,
.accordion-trigger:hover .accordion-icon {
    border-color: hsl(216deg 94% 43%);
}

.accordion-trigger[aria-expanded="true"] .accordion-icon {
    transform: translateY(-50%) rotate(-135deg);
}

.accordion-panel {
    margin: 0;
    padding: 1em 1.5em;
}

/* For Edge bug https://developer.microsoft.com/en-us/microsoft-edge/platform/issues/4806035/ */
.accordion-panel[hidden] {
    display: none;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

input {
    border: 1px solid hsl(0deg 0% 42%);
    border-radius: 0.3em;
    display: block;
    font-size: inherit;
    padding: 0.3em 0.5em;
}

.tabs {
    font-family: "lucida grande", sans-serif;
}

[role="tablist"] {
    min-width: 100%;
}

[role="tab"],
[role="tab"]:focus,
[role="tab"]:hover {
    display: inline-block;
    position: relative;
    z-index: 2;
    top: 2px;
    margin: 0;
    margin-top: 4px;
    padding: 3px 3px 4px;
    border: 1px solid hsl(219deg 1% 72%);
    border-bottom: 2px solid hsl(219deg 1% 72%);
    border-radius: 5px 5px 0 0;
    background: hsl(220deg 20% 94%);
    outline: none;
    font-weight: bold;
    max-width: 22%;
    overflow: hidden;
    text-align: left;
    cursor: pointer;
}

[role="tab"][aria-selected="true"] {
    padding: 2px 2px 4px;
    margin-top: 0;
    border-width: 2px;
    border-top-width: 6px;
    border-top-color: rgb(36 116 214);
    border-bottom-color: hsl(220deg 43% 99%);
    background: hsl(220deg 43% 99%);
}

[role="tab"][aria-selected="false"] {
    border-bottom: 1px solid hsl(219deg 1% 72%);
}

[role="tab"] span.focus {
    display: inline-block;
    margin: 2px;
    padding: 4px 6px;
}

[role="tab"]:hover span.focus,
[role="tab"]:focus span.focus,
[role="tab"]:active span.focus {
    padding: 2px 4px;
    border: 2px solid rgb(36 116 214);
    border-radius: 3px;
}

[role="tabpanel"] {
    padding: 5px;
    border: 2px solid hsl(219deg 1% 72%);
    border-radius: 0 5px 5px;
    background: hsl(220deg 43% 99%);
    min-height: 10em;
    width: 100%;
    overflow: auto;
}

[role="tabpanel"].is-hidden {
    display: none;
}

[role="tabpanel"] p {
    margin: 0;
}